@import './util';

#contact {
	margin-top: -1px;
	background-color: $white;

	.shell {
		border-top-right-radius: 80px;
		background-color: $blue;
	}

	.container {
		@extend .max-width;
		padding: 10px;
		margin: auto;
	}

	h1 {
		margin: 20px 0px;
		text-align: center;
		font-size: 30px;
	}

	p {
		margin-bottom: 10px;
		text-align: center;
		font-size: 18px;
		color: $greyText;
	}

	.container2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;
		max-width: 600px;

		input {
			outline: none;
		}

		.field {
			width: 100%;
			padding: 10px 0px;
			margin-bottom: 20px;
			border: none;
			border-bottom: 2px white solid;
			font-family: inherit;
			font-size: 18px;
			color: white;
			background-color: inherit;

			&:focus {
				outline-width: 0;
			}
		}

		textarea {
			resize: vertical;
			min-height: 100px;
		}

		.error {
			border-color: red;
		}

		.error-text {
			margin-top: -10px;
			color: red;
		}

		.submit {
			padding: 15px 25px;
			margin-top: 15px;
			margin-bottom: 20px;
			border-radius: 30px;
			border: none;
			font-size: 18px;
			color: white;
			background-color: $green;
			background-color: $green;
			transition: transform 300ms, background-color 300ms;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
				background-color: transparent;
				border: thin solid $green;
			}
		}
	}

	.links {
		margin: auto;

		li {
			margin-bottom: 20px;
			color: $greyText;
		}

		img {
			width: 30px;
			margin-right: 15px;
		}

		a {
			display: flex;
			align-items: center;
			font-size: 18px;
		}

		a:hover {
			color: white;
			text-decoration: none;
		}
	}

	.sent {
		position: relative;
		width: fit-content;
		padding: 10px 20px;
		margin: auto;
		font-weight: bold;
		border: thin solid $succuss;
		background-color: $succuss;
		border-radius: 50px;
		opacity: 0;
	}
}

@media (min-width: 1024px) {
	#contact {
		h1 {
			margin: 40px 0px;
			font-size: 35px;
		}

		p {
			margin-bottom: 20px;
			font-size: 20px;
		}

		.sent {
			font-size: 18px;
		}
	}
}
