@import './util';

#navbar {
	background-color: $blue;

	.main {
		@extend .max-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		padding: 15px;
		margin-bottom: -1px;

		img {
			z-index: 2;
			width: 35px;
			background-color: transparent;
		}
	}

	.menuBar {
		z-index: 2;
		border: none;
		background-color: transparent;

		img {
			width: 22px;
		}
	}

	nav.mobile {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 65px;
		background-color: $grey;

		ul {
			li {
				text-align: center;
				margin-bottom: 15px;
				color: $greyText;
				font-size: 20px;
			}
		}
	}

	nav.desktop {
		ul {
			display: flex;

			li {
				margin-right: 35px;
				color: $greyText;
				font-size: 24px;
			}
		}
	}

	a {
		position: relative;
		padding-bottom: 5px;

		&:hover {
			color: white;
		}
	}

	a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $green;
		opacity: 0;
		transition: opacity 300ms, transform 300ms;
		opacity: 1;
		transform: scale(0);
		transform-origin: center;
	}

	a:hover::after,
	a:focus::after {
		transform: scale(1);
	}
}

@media (min-width: 1024px) {
	#navbar {
		.main {
			img {
				width: 40px;
			}
		}
	}
}
