html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.max-width {
  max-width: clamp(10px, 100%, 1200px);
}

@font-face {
  font-family: "mortal_kombatmk11";
  src: url("/src/styles/fonts/mk/mortal-kombat-mk11-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #262626;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
button a:hover {
  text-decoration: none;
}

.max-width, #navbar .main {
  max-width: clamp(10px, 100%, 1200px);
}

#navbar {
  background-color: #354a5f;
}
#navbar .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
  margin-bottom: -1px;
}
#navbar .main img {
  z-index: 2;
  width: 35px;
  background-color: transparent;
}
#navbar .menuBar {
  z-index: 2;
  border: none;
  background-color: transparent;
}
#navbar .menuBar img {
  width: 22px;
}
#navbar nav.mobile {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 65px;
  background-color: #262626;
}
#navbar nav.mobile ul li {
  text-align: center;
  margin-bottom: 15px;
  color: #ababab;
  font-size: 20px;
}
#navbar nav.desktop ul {
  display: flex;
}
#navbar nav.desktop ul li {
  margin-right: 35px;
  color: #ababab;
  font-size: 24px;
}
#navbar a {
  position: relative;
  padding-bottom: 5px;
}
#navbar a:hover {
  color: white;
}
#navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00bda4;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
#navbar a:hover::after,
#navbar a:focus::after {
  transform: scale(1);
}

.max-width, .intro .main {
  max-width: clamp(10px, 100%, 1200px);
}

.intro {
  border-bottom-right-radius: 80px;
  background-color: #354a5f;
}
.intro .main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  padding-bottom: 40px;
}
.intro .text {
  max-width: 300px;
}
.intro h1 {
  margin-bottom: 20px;
  font-size: 29px;
}
.intro h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ababab;
}
.intro button {
  margin-bottom: 30px;
  padding: 15px 25px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  border: none;
  background-color: #00bda4;
  transition: transform 300ms, background-color 300ms;
}
.intro button:hover {
  transform: scale(1.1);
  background-color: transparent;
  border: thin solid #00bda4;
}
.intro img {
  max-width: clamp(200px, 100%, 400px);
}

@media (min-width: 730px) {
  .intro button {
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .intro {
    padding: 130px 0px;
  }
  .intro .main {
    flex-wrap: nowrap;
  }
  .intro .text {
    max-width: 500px;
  }
  .intro h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .intro h3 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .intro button {
    font-size: 22px;
  }
  .intro img {
    max-width: 570px;
  }
}
.max-width, #skills-section .groups {
  max-width: clamp(10px, 100%, 1200px);
}

#skills-section {
  padding: 10px;
}
#skills-section h1 {
  margin: 20px 0px;
  text-align: center;
  font-size: 30px;
}
#skills-section .groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
#skills-section .front,
#skills-section .back,
#skills-section .misc {
  width: 100%;
  max-width: 300px;
}
#skills-section h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #00bda4;
}
#skills-section .group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 25px 0px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: black;
}
#skills-section .group .container {
  display: flex;
  justify-content: center;
}
#skills-section .group .container:nth-last-child(1):nth-child(odd) {
  grid-column: 1/span 2;
}
#skills-section .group .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 300ms;
}
#skills-section .group .icon:hover {
  transform: scale(1.1);
}
#skills-section .group .icon img {
  width: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

@media (min-width: 1024px) {
  #skills-section {
    margin-bottom: 50px;
  }
  #skills-section h1 {
    margin: 50px 0px;
    font-size: 40px;
  }
  #skills-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  #skills-section .group .icon img {
    width: 60px;
  }
  #skills-section .group .icon p {
    font-size: 18px;
  }
}
.max-width, #projects .group {
  max-width: clamp(10px, 100%, 1200px);
}

#projects {
  padding: 10px;
  border-top-left-radius: 80px;
  background-color: #ededed;
}
#projects h1 {
  margin: 20px 0px;
  text-align: center;
  font-size: 30px;
  color: black;
}
#projects .group {
  display: flex;
  width: auto;
  margin: auto;
}
#projects .my-masonry-grid_column {
  background-clip: padding-box;
}
#projects .card {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px 15px;
  border-radius: 30px;
}
#projects .header {
  margin-bottom: 10px;
}
#projects .header a {
  display: flex;
  align-items: center;
}
#projects .header img {
  width: 40px;
  margin: 0px 8px;
}
#projects .details {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}
#projects .details > p {
  margin-bottom: 20px;
  font-size: 18px;
}
#projects .details .skills {
  position: relative;
  display: flex;
  justify-content: space-around;
}
#projects .details .skills .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .details .skills .icon img {
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  transition: transform 300ms;
}
#projects .details .skills .icon p {
  position: absolute;
  top: 40px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 300ms;
}
#projects .details .skills .icon:hover img {
  transform: translateY(-10px);
}
#projects .details .skills .icon:hover p {
  opacity: 1;
}
#projects .links {
  display: flex;
  justify-content: space-around;
}
#projects .links button {
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  background-color: #262626;
  box-shadow: inset 0 0 0 0 #00bda4;
  transition: ease-out 0.4s;
}
#projects .links button:hover {
  box-shadow: inset 200px 0 0 0 #00bda4;
}

@media (min-width: 1024px) {
  #projects {
    padding-bottom: 50px;
  }
  #projects h1 {
    margin: 50px 0px;
    font-size: 40px;
  }
  #projects .header {
    margin-bottom: 25px;
    font-size: 20px;
  }
  #projects .header img {
    width: 50px;
  }
  #projects .details > p {
    font-size: 20px;
  }
  #projects .details .skills .icon img {
    width: 50px;
    padding: 5px;
  }
  #projects .details .skills .icon p {
    font-size: 16px;
  }
  #projects .details .skills .icon:hover img {
    transform: translateY(-15px);
  }
}
.max-width, #contact .container {
  max-width: clamp(10px, 100%, 1200px);
}

#contact {
  margin-top: -1px;
  background-color: #ededed;
}
#contact .shell {
  border-top-right-radius: 80px;
  background-color: #354a5f;
}
#contact .container {
  padding: 10px;
  margin: auto;
}
#contact h1 {
  margin: 20px 0px;
  text-align: center;
  font-size: 30px;
}
#contact p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  color: #ababab;
}
#contact .container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  max-width: 600px;
}
#contact form .field {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px white solid;
  font-family: inherit;
  font-size: 18px;
  color: white;
  background-color: inherit;
}
#contact form .field:focus {
  outline-width: 0;
}
#contact form textarea {
  resize: vertical;
  min-height: 100px;
}
#contact form .error {
  border-color: red;
}
#contact form .error-text {
  margin-top: -10px;
  color: red;
}
#contact form .submit {
  padding: 15px 25px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #00bda4;
  background-color: #00bda4;
  transition: transform 300ms, background-color 300ms;
  cursor: pointer;
}
#contact form .submit:hover {
  transform: scale(1.1);
  background-color: transparent;
  border: thin solid #00bda4;
}
#contact .links {
  margin: auto;
}
#contact .links li {
  margin-bottom: 20px;
  color: #ababab;
}
#contact .links img {
  width: 30px;
  margin-right: 15px;
}
#contact .links a {
  display: flex;
  align-items: center;
  font-size: 18px;
}
#contact .links a:hover {
  color: white;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #contact h1 {
    margin: 40px 0px;
    font-size: 35px;
  }
  #contact p {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
