html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "mortal_kombatmk11";
  src: url("/src/styles/fonts/mk/mortal-kombat-mk11-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #262626;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button a:hover {
  text-decoration: none;
}

.section-1 {
  border-bottom-right-radius: 80px;
  background-color: #354a5f;
}

.section-3 {
  border-top-left-radius: 80px;
  background-color: #ededed;
}

.section-4 {
  border-top-right-radius: 80px;
  background-color: #354a5f;
}

.navbar {
  display: flex;
  padding: 10px;
}
.navbar .menu {
  width: 35px;
  margin-left: auto;
  border: none;
  background-color: #354a5f;
}

.intro {
  padding: 15px;
  padding-bottom: 40px;
}
.intro h1 {
  margin-bottom: 20px;
  font-size: 28px;
}
.intro h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #c2c1c1;
}
.intro button {
  margin-bottom: 25px;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
  background-color: #00bda4;
}

.skills-section {
  padding: 10px;
}
.skills-section h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.skills-section .groups .front,
.skills-section .groups .back,
.skills-section .groups .misc {
  padding: 10px;
}
.skills-section .groups .front h2,
.skills-section .groups .back h2,
.skills-section .groups .misc h2 {
  margin-bottom: 10px;
  text-align: center;
}
.skills-section .groups .group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 25px 0px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: black;
}
.skills-section .groups .group .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-section .groups .group .icon:nth-last-child(1):nth-child(odd) {
  grid-column: 1/span 2;
}
.skills-section .groups .group .icon img {
  width: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.projects {
  padding: 10px;
}
.projects h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}
.projects .group {
  display: flex;
  flex-wrap: wrap;
}
.projects .group .card {
  margin-bottom: 20px;
  padding: 15px 0px;
  border-radius: 25px;
  background-color: red;
}
.projects .group .card .header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}
.projects .group .card .header img {
  width: 40px;
  margin: 0px 8px;
}
.projects .group .card .details {
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
}
.projects .group .card .details p {
  margin-bottom: 15px;
  font-size: 18px;
}
.projects .group .card .details .skills {
  display: flex;
  justify-content: space-around;
}
.projects .group .card .details .skills img {
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
.projects .group .card .details .skills p {
  display: none;
}
.projects .group .card .links {
  display: flex;
  justify-content: space-around;
}
.projects .group .card .links button {
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  background-color: #262626;
}

.contact {
  padding: 10px;
}
.contact h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.contact form .field {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px white solid;
  font-family: inherit;
  font-size: 18px;
  color: white;
  background-color: inherit;
}
.contact form .field:focus {
  outline-width: 0;
}
.contact form .error {
  border-color: red;
}
.contact form .error-text {
  margin-top: -10px;
  color: red;
}
.contact form .submit {
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #00bda4;
}

/*# sourceMappingURL=app.css.map */
